div.bk-btn-group button{
	font-family: arial;
    color: #17648D;
    font-weight: bold;
	font-size: min(5vw, 18px);
}
div.bk-slider-title{
                font-family: arial;
                font-weight: bold;
                font-size: min(5vw, 18px);
                color: #17648D;
}



