
05 Applied hydrogeology/.ipynb_checkpoints/Theis_interactive-checkpoint.ipynb
05 Applied hydrogeology/.ipynb_checkpoints/Theis_predict-checkpoint.ipynb
05 Applied hydrogeology/.ipynb_checkpoints/Theis_predict_radius-checkpoint.ipynb
05 Applied hydrogeology/.ipynb_checkpoints/Theis_predict_time-checkpoint.ipynb
06 Groundwater modeling/.ipynb_checkpoints/GWF_1D_conf_FD_homog-checkpoint.ipynb
04 Basic hydrogeology/.ipynb_checkpoints/Well_Catchment_SYM-checkpoint.ipynb
05_Applied_hydrogeology/.ipynb_checkpoints/Theis_predict_radius-checkpoint.ipynb
05_Applied_hydrogeology/.ipynb_checkpoints/Theis_predict_radius-checkpoint.ipynb
05_Applied_hydrogeology/.ipynb_checkpoints/Theis_predict_radius-checkpoint.ipynb
05_Applied_hydrogeology/.ipynb_checkpoints/Theis_predict_time-checkpoint.ipynb
05_Applied_hydrogeology/.ipynb_checkpoints/Theis_predict_time-checkpoint.ipynb
05_Applied_hydrogeology/.ipynb_checkpoints/Theis_predict_radius-checkpoint.ipynb
05_Applied_hydrogeology/.ipynb_checkpoints/Theis_predict_radius-checkpoint.ipynb
05_Applied_hydrogeology/.ipynb_checkpoints/Theis_predict_radius-checkpoint.ipynb
05_Applied_hydrogeology/.ipynb_checkpoints/Theis_predict_time-checkpoint.ipynb
05_Applied_hydrogeology/.ipynb_checkpoints/TRANS_1D_AD_analytic_FIG-checkpoint.ipynb
04_Basic_hydrogeology/.ipynb_checkpoints/Well_Catchment-checkpoint.ipynb
04_Basic_hydrogeology/.ipynb_checkpoints/Well_Catchment_SYM-checkpoint.ipynb
04_Basic_hydrogeology/.ipynb_checkpoints/Well_Stream_Divide-checkpoint.ipynb
05_Applied_hydrogeology/.ipynb_checkpoints/Theis_interactive-checkpoint.ipynb
04_Basic_hydrogeology/.ipynb_checkpoints/Well_Catchment_SYM-checkpoint.ipynb
04_Basic_hydrogeology/.ipynb_checkpoints/Well_Catchment_SYM-checkpoint.ipynb
05_Applied_hydrogeology/.ipynb_checkpoints/Theis_predict_radius-checkpoint.ipynb
05_Applied_hydrogeology/.ipynb_checkpoints/Theis_predict_time-checkpoint.ipynb
05_Applied_hydrogeology/.ipynb_checkpoints/Theis_interactive_ddown-checkpoint.ipynb
04_Basic_hydrogeology/.ipynb_checkpoints/Well_Catchment_SYM-checkpoint.ipynb
04_Basic_hydrogeology/.ipynb_checkpoints/Well_Catchment_SYM-checkpoint.ipynb
05_Applied_hydrogeology/.ipynb_checkpoints/Theis_predict_radius-checkpoint.ipynb
04_Basic_hydrogeology/.ipynb_checkpoints/Well_Catchment_SYM-checkpoint.ipynb
06_Groundwater_modeling/.ipynb_checkpoints/LumpedModel_Storage-checkpoint.ipynb
04_Basic_hydrogeology/.ipynb_checkpoints/Well_Catchment_SYM-checkpoint.ipynb
05_Applied_hydrogeology/.ipynb_checkpoints/Theis_interactive-checkpoint.ipynb
06_Groundwater_modeling/.ipynb_checkpoints/LumpedModel_Storage-checkpoint.ipynb
06_Groundwater_modeling/.ipynb_checkpoints/LumpedModel_Storage-checkpoint.ipynb
06_Groundwater_modeling/.ipynb_checkpoints/GWF_1D_conf_FD_homog-checkpoint.ipynb
05_Applied_hydrogeology/.ipynb_checkpoints/TRANS_1D_AD_react_analytic_FIG-checkpoint.ipynb
05_Applied_hydrogeology/.ipynb_checkpoints/Theis_predict_vertical_cross_section-checkpoint.ipynb
05_Applied_hydrogeology/.ipynb_checkpoints/Theis_predict_time-checkpoint.ipynb
.ipynb_checkpoints/00_Getting_started-checkpoint.ipynb
04_Basic_hydrogeology/.ipynb_checkpoints/Well_Catchment_SYM-checkpoint.ipynb
05_Applied_hydrogeology/.ipynb_checkpoints/1D_Conduction-checkpoint.ipynb
05_Applied_hydrogeology/.ipynb_checkpoints/Diffusive_Movement_1D_HydraulicHead-checkpoint.ipynb
05_Applied_hydrogeology/.ipynb_checkpoints/HeatTransport_1D_COND_observations-checkpoint.ipynb
05_Applied_hydrogeology/.ipynb_checkpoints/1D_Conduction-checkpoint.ipynb
.ipynb_checkpoints/Template_FunctionFig_Marker-checkpoint.ipynb
02_Basic_hydrology/.ipynb_checkpoints/Infiltration_capacity-checkpoint.ipynb
04_Basic_hydrogeology/.ipynb_checkpoints/Darcy_FIG-checkpoint.ipynb
05_Applied_hydrogeology/.ipynb_checkpoints/Theis_predict_ddown_distance-checkpoint.ipynb
05_Applied_hydrogeology/.ipynb_checkpoints/Theis_predict_vertical_cross_section-unconfined-checkpoint.ipynb
04_Basic_hydrogeology/.ipynb_checkpoints/Flow2well_Thiem_confined-checkpoint.ipynb
04_Basic_hydrogeology/.ipynb_checkpoints/Flow2well_Thiem_confined-checkpoint.ipynb
04_Basic_hydrogeology/.ipynb_checkpoints/Well_capture_zone-checkpoint.ipynb
04_Basic_hydrogeology/.ipynb_checkpoints/Well_capture_zone_FIG-checkpoint.ipynb
04_Basic_hydrogeology/.ipynb_checkpoints/Well_capture_zone_SYM-checkpoint.ipynb
04_Basic_hydrogeology/.ipynb_checkpoints/GWF_1D_unconf_analytic_BC-checkpoint.ipynb
04_Basic_hydrogeology/.ipynb_checkpoints/GWF_1D_unconf_analytic_BC_EX_DE-checkpoint.ipynb
05_Applied_hydrogeology/.ipynb_checkpoints/Theis_inverse-checkpoint.ipynb
05_Applied_hydrogeology/.ipynb_checkpoints/Theis_inverse_VITERBO-checkpoint.ipynb
04_Basic_hydrogeology/.ipynb_checkpoints/GWF_1D_unconf_analytic_BC-checkpoint.ipynb
04_Basic_hydrogeology/.ipynb_checkpoints/GWF_1D_unconf_analytic_BC-checkpoint.ipynb
05_Applied_hydrogeology/.ipynb_checkpoints/Theis_type_curve-checkpoint.ipynb
