
05 Applied hydrogeology/.ipynb_checkpoints/Theis_interactive-checkpoint.ipynb
05 Applied hydrogeology/.ipynb_checkpoints/Theis_predict-checkpoint.ipynb
05 Applied hydrogeology/.ipynb_checkpoints/Theis_predict_radius-checkpoint.ipynb
05 Applied hydrogeology/.ipynb_checkpoints/Theis_predict_time-checkpoint.ipynb
06 Groundwater modeling/.ipynb_checkpoints/GWF_1D_conf_FD_homog-checkpoint.ipynb
04 Basic hydrogeology/.ipynb_checkpoints/Well_Catchment_SYM-checkpoint.ipynb
