numpy
psutil
matplotlib
pandas
scipy
ipywidgets
ipynb
xarray
rise
voila
streamlit==1.44.1
streamlit_book
streamlit_extras
deep_translator
bokeh
streamlit_bokeh
fpdf
img2pdf
pypdf
PyYAML
markdown
Pillow
reportlab
streamlit-scroll-to-top
